.notification {
    position: fixed;
    top: 0;
    bottom:  0;
    right:  0;
    left:  0;
    background-color: rgba(0, 0,0, 0.5);
    z-index: 1;
    animation: slideInNoti 0.3s ease-out forwards;

    .notification_wrap{
        background-color: var(--white);
        border-radius: 10px;
        width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

        .notification_wrap_title {
            font-size: 22px;
            color: var(--primary);
            padding:15px 20px;
            font-weight: bold;
        }

        .notification_wrap_erorr {
            padding: 20px;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            font-size: 20px;
            color: var(--text-color);
            line-height: 24px;
        }

        .notification_wrap_button {
            padding: 15px 20px;
            display: flex;
            justify-content: right;

            .btn {
                user-select: none;
                width: 70px;
                text-align: center;
                border-radius: 5px;
                font-size: 18px;
                color: var(--white);
                padding: 8px 0;
                background-color: var(--primary);
                cursor: pointer;
                border: 1px solid var(--primary);

                &:hover {
                    border-color: rgb(16, 39, 248);
                }
            }
        }
    }
}

@keyframes slideInNoti {
    0% {
        top: -100px; 
    }
    100% {
        top: 0 ;
    }
}
